node_modules
functions/node_modules
dist
.git
.github
.husky
.storybook
cypress
designs
testdata
firebase-debug.log
firestore-debug.log
database-debug.log
pubsub-debug.log
npm-debug.log
*.log
.prettierrc
.prettierignore
.eslintrc.cjs
.env
.env.*
!.env.sample
